

form{
  background: #84cdee;
  margin: 40px;
  float: left;
}

header {
  margin: 40px;
  background: #50b8e7;
}

h1 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}

h2 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
}

fieldset {
  background: #b9e2f5;
  margin: 10px;
}

input {
  padding: 5px 10px;
  margin-left: 5px;
}

form fieldset:first-child {
  margin-left: 280px;
}

form fieldset:nth-child(2) {
  margin-left: 92px;
}

form fieldset:nth-child(3) {
  margin-left: 89px;
}

button {
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #b3cccc;
  font-size: 20px;
  border-radius: 6px;
}

table {
  margin: 0 auto;
}

td {
  border: 1px black solid;
  padding: 10px 10px 5px 5px;
}

tbody td {
  text-align: right;
}

tbody td:first-child {
  text-align: left;
}

tfoot td {
  text-align: right;
}

tfoot td:first-child {
  text-align: left;
}

thead td {
  background: #999;
}

thead td:first-child {
  background: #fff;
}
